body {
  background: white;
  color: #000000;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0em;
  padding-left: 1em;
  padding-right: 1em;
}

p, ul li, ol li, ul {
  max-width: 48em;
}

td { vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "DejaVu Serif", "Bitstream Vera Serif", "Lucida Bright", serif;
  font-weight: normal;
}

h1.bigtitle {
  font-size: 3em;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-style: none;
  text-decoration: none;
}

pre {
  background-color: #ddc;
  margin-left: 2em;
  max-width: 56em;
  padding: 1em;
}

.sidenote {
  font-size: small;
  /* margin-right: -170px; */
  position: absolute;
  right: 20px;
  top: auto; /* default */
  max-width: 200px;
}
